.popup__textarea {
  width: 320px;
  height: 80px;
  border: 1px solid #fecda6;
  margin: 0 auto 27px auto;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  resize: none;
  padding: 10px 10px 0 10px;
}

@media screen and (max-width: 460px) {
  .popup__textarea {
    width: 200px;
  }
}
