.about-travel__card-author {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 595px) {
  .about-travel__card-author {
    font-size: 12px;
  }
}
