.about-travel__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: start;
}

@media screen and (max-width: 595px) {
  .about-travel__title {
    text-align: center;
    font-size: 28px;
  }
}
