.place__paragraph {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .place__paragraph {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 15px;
  }
}
