.place {
  width: 100%;
  display: flex;
}

.place:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .place {
    flex-direction: column;
  }
  
  .place:nth-of-type(2n) {
    flex-direction: column;
  }
}


