.footer {
  background-color: #fecda6;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 400px;
  }
}
